.background-image {
  background-image: url('/public/webbird.jpg');
  /* Assuming the image is in the public directory */
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.navbar {
  width: 100%;
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.8);
  /* Semi-transparent background */
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 60px;
  /* Adjust the height as needed */
  margin-right: 10px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  /* Adjust the color as needed */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  /* Adjust the color as needed */
  font-size: 18px;
  /* Adjust the font size as needed */
  padding: 5px 10px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #007BFF;
  /* Adjust the hover color as needed */
}